.cartAll{
    width: 100%;
    height: fit-content;
    padding: 20px 30px ;
    box-sizing: border-box;
}
.cartAll h1{
    font-family: "Itim", cursive;
    font-weight: 700;
    font-style: normal;
}
.cart-item{
    width: 100%;
    height: 300px;
    border: 1px solid red;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}